<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layui-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">班级名称</label>
        <div class="layui-input-inline">
            <input type="text" name="className" th:value="${class.className}" lay-verify="required" placeholder="请输入课程名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级人数</label>
        <div class="layui-input-inline">
            <input type="text" name="classRs" th:value="${class.classRs}" lay-verify="required" placeholder="请输入课时" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所在教室</label>
        <div class="layui-input-inline">
            <select name="classroomId" lay-verify="required" lay-filter="classroom" lay-search="">
                <option th:each="t,classrooms:${classrooms}" th:value="${t.id}" th:selected="${t.id} == ${class.classroomId}" th:text="${t.classroomName}"></option>
            </select>
            <!--<input type="text" name="classroomName" th:value="${class.classroomName}" placeholder="请输入课程类型" autocomplete="off" class="layui-input">-->
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit="" lay-filter="kFormSubmit" id="kFormSubmit" value="确认添加">
        <input type="text" name="id" th:value="${class.id}" placeholder="保存ID" autocomplete="off" class="layui-input">
        <input type="text" id="classroomName" name="classroomName" th:value="${class.classroomName}" placeholder="保存ID" autocomplete="off" class="layui-input">
    </div>
</div>

<script th:replace="common/base::context"></script>
<script th:replace="common/base::mainjs"></script>
<script th:src="@{/static/js/select-tree.js}"></script>
<script th:inline="javascript">

    layui.use(['form'], function () {
        var $ = layui.$, form = layui.form;

        var classroomMap = new Map();
        var classrooms = [[${classrooms}]];
        classrooms.forEach((T) => classroomMap.set(T.id, T.classroomName));

        form.on('select(classroom)', function (data) {
            $("#classroomName").val(classroomMap.get(Number(data.value)))
        });
        //监听提交
        form.on('submit(kFormSubmit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            /*if (deptId) {
                field.deptId = deptId;
            }*/

            log('field=', field);


            //提交 Ajax 成功后，关闭当前弹层并重载表格
            $.ajax({
                type: req.type.post,
                url: (field.id != "0" && field.id != "") ? api.info.classEdit : api.info.classAdd,
                data: field,
                async: false,
                success: function (r) {
                    if (r.code === req.status.ok) {
                        parent.layui.table.reload('kContentTable'); //重载表格
                        parent.layer.close(index); //再执行关闭
                    } else {
                        kvfKit.errorMsg(r.msg);
                    }
                }
            });

        });
    })
</script>
</body>
</html>